@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Animal Paws";
}

@font-face {
  font-family: "Animal Paws";
  src: url("/fonts/animal-paws.ttf") format("truetype");
}
